<div class="carousel-item active" data-bs-interval="10000">

  <div class="card-group">


    <div class="card">
      <img src="{{ActiviteArray[0].imagePath}}" class="card-img-top img-fluid" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ActiviteArray[0].nomActivite}}</h5>
        <div class="description">
          <p class="card-text max">{{ActiviteArray[0].descriptionActivite}}</p>
        </div>
        <p class="card-text"><small class="text-muted">{{ActiviteArray[0].dateActivite}}</small></p>
        <div class="centre">
          <button type="button" class="btn" (click)="readMore(0)">Découvrir l'activité</button>
        </div>
      </div>
    </div>


    <div class="card">
      <img src="{{ActiviteArray[1].imagePath}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ActiviteArray[1].nomActivite}}</h5>
        <div class="description">
          <p class="card-text max">{{ActiviteArray[1].descriptionActivite}}</p>
        </div>
        <p class="card-text"><small class="text-muted">{{ActiviteArray[1].dateActivite}}</small></p>
        <button type="button" class="btn" (click)="readMore(1)">Découvrir l'activité</button>
      </div>
    </div>

    <div class="card">
      <img src="{{ActiviteArray[2].imagePath}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ActiviteArray[2].nomActivite}}</h5>
        <div class="description">
          <p class="card-text max">{{ActiviteArray[2].descriptionActivite}}</p>
        </div>
        <p class="card-text"><small class="text-muted">{{ActiviteArray[2].dateActivite}}</small></p>
        <button type="button" class="btn" (click)="readMore(2)">Découvrir l'activité</button>
      </div>
    </div>

  </div>
</div>
