<div class="carousel-item active" data-bs-interval="10000">

  <div class="card-group" >


    <div class="card">
      <img src="{{ActiviteArray[0].imagePath}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ActiviteArray[0].nomActivite}}</h5>
        <p class="card-text">{{ActiviteArray[0].descriptionActivite}}</p>
        <p class="card-text"><small class="text-muted">{{ActiviteArray[0].dateActivite}}</small></p>
      </div>
    </div>


    <div class="card">
      <img src="{{ActiviteArray[1].imagePath}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ActiviteArray[1].nomActivite}}</h5>
        <p class="card-text">{{ActiviteArray[1].descriptionActivite}}</p>
        <p class="card-text"><small class="text-muted">{{ActiviteArray[1].dateActivite}}</small></p>
      </div>
    </div>

    <div class="card">
      <img src="{{ActiviteArray[2].imagePath}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ActiviteArray[2].nomActivite}}</h5>
        <p class="card-text">{{ActiviteArray[2].descriptionActivite}}</p>
        <p class="card-text"><small class="text-muted">{{ActiviteArray[2].dateActivite}}</small></p>
      </div>
    </div>

  </div>
</div>
