<h1>Ajoute-ton activité super guide</h1>

<form>
  <div>
    <label for="nomActivite">Nom de l'activité :</label>
    <input type="text" id="nomActivite" name="nomActivite" [(ngModel)]="nomActivite">
  </div>
  <div>
    <label for="nomEntreprise">Nom de l'entreprise</label>
    <input type="text" id="nomEntreprise" name="nomEntreprise" [(ngModel)]="nomEntreprise">
  </div>
  <div>
    <label for="nomResponsable">Nom du responsable</label>
    <input type="text" id="nomResponsable" name="nomResponsable" [(ngModel)]="nomResponsable">
  </div>


  <div>
    <label for="numNomrue">Numero de rue et adresse</label>
    <input type="text" id="numNomrue" name="numNomRue" [(ngModel)]="numNomRue">
  </div>
  <div>
    <label for="codePostale">Code postal</label>
    <input type="text" id="codePostale" name="codePostale" [(ngModel)]="codePostale">
  </div>
  <div>
    <label for="ville">Ville</label>
    <input type="text" id="ville" name="ville" [(ngModel)]="ville">
  </div>
  <div>
    <label for="pays">Pays</label>
    <input type="text" id="pays" name="pays" [(ngModel)]="pays">
  </div>

  <div>
    <label for="tel">Numero de téléphone</label>
    <input type="text" id="tel" name="telephone" [(ngModel)]="telephone">
  </div>


  <div>
    <label for="description">Description :</label>
    <textarea id="description" name="description" [(ngModel)]="description"></textarea>
  </div>

  <div>
    <label for="prix">Prix</label>
    <input type="text" id="prix" name="prix" [(ngModel)]="prix">
  </div>
  <button type="submit" (click)="addActivite()">Envoyer</button>
</form>
















