<h1>Ajoute-ton activité super guide</h1>

<form>
  <div>
    <label for="nomActivite">Nom de l'activité :</label>
    <input type="text" id="nomActivite" name="nomActivite">
  </div>
  <div>
    <label for="nomEntreprise">Nom de l'entreprise</label>
    <input type="text" id="nomEntreprise" name="nomEntreprise">
  </div>
  <div>
    <label for="nomResponsable">Nom de l'entreprise</label>
    <input type="text" id="nomResponsable" name="nomResponsable">
  </div>


  <div>
    <label for="rue">Numero de rue et adresse</label>
    <input type="text" id="rue" name="rue">
  </div>
  <div>
    <label for="code">Code postal</label>
    <input type="text" id="code" name="code">
  </div>
  <div>
    <label for="ville">Ville</label>
    <input type="text" id="ville" name="ville">
  </div>
  <div>
    <label for="pays">Pays</label>
    <input type="text" id="pays" name="pays">
  </div>

  <div>
    <label for="tel">Numero de téléphone</label>
    <input type="text" id="tel" name="tel">
  </div>


  <div>
    <label for="description">Description :</label>
    <textarea id="description" name="description"></textarea>
  </div>

  <div>
    <label for="prix">Prix</label>
    <input type="text" id="prix" name="prix">
  </div>

</form>





Image













