<div class="card mb-3" style="max-width: 600px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{activite.imagePath}}" class="card-img-top img-fluid" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{activite.nomActivite}}</h5>
        <p class="card-text">{{activite.descriptionActivite}}</p>
        <p class="card-text"><small class="text-muted">{{activite.dateActivite}}</small></p>
        <button type="button" class="btn " (click)="readMore()">Modifier l'activité</button>
        <button type="button" class="btn " (click)="delecteActivite()">Supprimer l'activité</button>
      </div>
    </div>
  </div>
</div>
