<app-menu></app-menu>


<div class="parent">
  <div class="menuGauche">
    <app-menu-gestion-pro></app-menu-gestion-pro>
  </div>

  <div class="titre">
    <p>Super guide board</p>
  </div>

  <div class="board">

    <app-statistiques-gestion-pro></app-statistiques-gestion-pro>

    <app-profil-gestion-pro></app-profil-gestion-pro>

    <app-activites-gestion-pro></app-activites-gestion-pro>

    <app-add-activite-gestion-pro></app-add-activite-gestion-pro>

    <app-modifier-activite-gestion-pro></app-modifier-activite-gestion-pro>


    <br>
    <br>

  </div>

</div>






