.parent {
  display: flex;
}

.menuGauche {
  flex: 1;
  background-color: #C0D7D8;
}
.titre {
  background-color: rgb(231,213,207);
}
.board {
  flex: 3;
  background-color: #E5F4F6;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 20px;
}

.parent2 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 16px;
  padding-top: 5px;
}
.gauche {
  grid-area: 1 / 1 / 2 / 3;
  background-color: #C0D7D8;
}
.titre{
  grid-area: 1 / 1 / 2 / 13;
  padding-top: 10px;
  padding-left: 3em;
}

@font-face {
  font-family: 'LouisGeorge';
  src: url('src/assets/ressources/Font/Louis George Cafe.ttf');
}

@font-face {
  font-family: 'LouisGeorgeBold';
  src: url('src/assets/ressources/Font/Louis George Cafe Bold.ttf');
}

h1, h2, h3, h4, h5, h6{
  font-family: 'LouisGeorgeBold';

}

p{
  font-family: 'LouisGeorge';
}







