.parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.menuGauche {
  grid-area: 1 / 1 / 13 / 3;
  background-color: rgb(186,209,210);
}
.titre {
  grid-area: 1 / 3 / 3 / 13;
  background-color: rgb(231,213,207);
}
.board {
  grid-area: 3 / 3 / 13 / 13;
  background-color: rgb(231,241,244);
}








