.parent {
  display: flex;
}

.menuGauche {
  flex: 1;
  background-color: #C0D7D8;
  min-height: 41em;
}

.titre {
  background-color: #EBDAD4;
  font-family: 'Austein';
}

.board {
  flex: 3;
  background-color: #E1F4F5;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 20px;
}

@font-face {
  font-family: 'Austein';
  src: url('src/assets/ressources/Font/Austein.ttf');
}


.parent2 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 16px;
  padding-top: 5px;
}

.gauche {
  grid-area: 1 / 1 / 2 / 3;
  background-color: #C0D7D8;
}

.titre {
  grid-area: 1 / 1 / 2 / 13;
  padding-top: 10px;
  padding-left: 1em;
}

.titre h1 {
  font-family: 'Austein';
  font-size: 2.3em;
  color: #681300;
}

@font-face {
  font-family: 'LouisGeorge';
  src: url('src/assets/ressources/Font/Louis George Cafe.ttf');
}

@font-face {
  font-family: 'LouisGeorgeBold';
  src: url('src/assets/ressources/Font/Louis George Cafe Bold.ttf');
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'LouisGeorgeBold';

}

p {
  font-family: 'LouisGeorge';
}







