<nav>
  <ul>
    <li class="menu"><a href="accueil-logged"><img src="./assets/ressources/logo/logoRightOf.png" class="logo_titre"></a></li>
    <li class="menu"><button class="btn  dropdown-toggle"  routerLink="/accueil-logged">Accueil</button></li>
    <li class="menu">

      <div class="dropdown">
        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
          Domaines <img src="assets/ressources/icon/reseau.png" class="logo_button">
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
          <a class="dropdown-item" href="domaines-logged/nature">Nature</a>
          <a class="dropdown-item" href="domaines-logged/sensationForte">Sensation fore</a>
          <a class="dropdown-item" href="domaines-logged/sport">Sport</a>
          <a class="dropdown-item" href="domaines-logged/jeux">Jeux</a>
          <a class="dropdown-item" href="domaines-logged/autre">Autre</a>
        </ul>
      </div>

    </li>
    <li class="menu">

      <div class="dropdown">
        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Catégories <img src="assets/ressources/icon/categories.png" class="logo_button">
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <a class="dropdown-item" href="categories-logged/famille">En famille</a>
          <a class="dropdown-item" href="categories-logged/couple">En couple</a>
          <a class="dropdown-item" href="categories-logged/amis">Entre amis</a>
          <a class="dropdown-item" href="categories-logged/seul">Tout seul</a>
          <a class="dropdown-item" href="categories-logged/autre">Autre</a>
        </ul>
      </div>

    </li>

    <li class="menu"><button class="btn btn-secondary dropdown-toggle" routerLink="/recherches-logged">Recherches <img src="assets/ressources/icon/recherche.png" class="logo_button"></button></li>

    <div *ngIf="this.isPro">
      <li class="menu">

        <div class="dropdown">
          <button class="btn " type="button" id="dropdownMenuButtonPro" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="assets/ressources/connexion/Illustration_sans_titre.png" class="logo_button2">
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonPro">
            <a class="dropdown-item" routerLink="/gestion-pro">Tableau de bord</a>
            <a  class="dropdown-item" (click)="logoutFunction()">Deconnection</a>
          </ul>
        </div>
      </li>
    </div>


    <div *ngIf="this.isUser">
      <li class="menu">

        <div class="dropdown">
          <button class="btn " type="button" id="dropdownMenuButtonUser" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="assets/ressources/accueil/Hamburger_icon.svg" class="logo_button3">
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonUser">
            <a class="dropdown-item">Profil</a>
            <a  class="dropdown-item" (click)="logoutFunction()">Déconnexion</a>
          </ul>
        </div>
      </li>
    </div>


    <div *ngIf="!this.isUser && !this.isPro">
      <li class="menu"><button class="btn  drop_login_icon" routerLink="/connexion"><img src="assets/ressources/accueil/kisspng-computer-icons-user-login-swiggy-5b242906b59ed4.4170042515290964547439.png" class="logo_button2"></button></li>
    </div>

  </ul>
</nav>




