<nav>
  <ul>
    <li class="menu"><a href="accueil-logged"><img src="./assets/ressources/logo/logoRightOf.png" class="logo_titre"></a></li>
    <li class="menu"><button class="btn btn-secondary dropdown-toggle"  routerLink="/accueil">Accueil</button></li>
    <li class="menu">

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
          Domaines <img src="assets/ressources/icon/reseau.png" class="logo_button">
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
          <a class="dropdown-item" href="domaine-logged">Nature</a>
          <a class="dropdown-item" href="domaine-logged">Sensation fore</a>
          <a class="dropdown-item" href="domaine-logged">Sport</a>
          <a class="dropdown-item" href="domaine-logged">Jeux</a>
        </ul>
      </div>

    </li>
    <li class="menu">

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Catégories <img src="assets/ressources/icon/categories.png" class="logo_button">
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <a class="dropdown-item" href="categories-logged">En famille</a>
          <a class="dropdown-item" href="categories-logged">En couple</a>
          <a class="dropdown-item" href="categories-logged">Entre amis</a>
          <a class="dropdown-item" href="categories-logged">Tout seul</a>
        </ul>
      </div>

    </li>
    <li class="menu"><button class="btn btn-secondary dropdown-toggle" routerLink="/recherches-logged">Recherches <img src="assets/ressources/icon/recherche.png" class="logo_button"></button></li>
    <li class="menu"><button class="btn btn-secondary dropdown-toggle" (click)="logoutFunction()"><img src="assets/ressources/logout/logout.svg.png" class="logo_button"></button></li>
    <li class="menu"><button class="btn btn-secondary dropdown-toggle" >Profil</button></li>
    <div *ngIf="this.log.userIsPro">
       <li class="menu"><button class="btn btn-secondary dropdown-toggle" routerLink="/gestion-pro">Tableau de bord</button></li>
    </div>

  </ul>
</nav>

