<footer>
  <!-- Placez ici le contenu du pied de page -->


  <div id="trait"><hr></div>


  <div class="fond">



    <div id="box2">
      <table>
        <tr>
          <td>
            <a href="https://www.facebook.com/profile.php?id=100040638682931" title="Pour toutes nos informations !">FaceBook</a>
          </td>
          <td>
            &emsp;&emsp;&emsp;
          </td>
          <td>
            <a href="mailto:rcck.ardennes@gmail.com">Envoyez-nous un e-mail !</a>
          </td>
          <td>
            &emsp;&emsp;&emsp;
          </td>
          <td>
            <a href="https://www.google.com/maps/dir//rethel+chateau+canoe+kayak/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x47e98907bf9e2ad3:0x377eff8f93d189d4?sa=X&ved=2ahUKEwjBgMmx8tz1AhWD3YUKHZYYC7IQ9Rd6BAg5EAQ">Nous trouver</a>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
          </td>
          <td>
            <p class="copy"> <br> Conception : Tibo <br> Images : All <br> <a href="./connexion.php">Connexion</a> </p>
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>
      </table>
    </div>
  </div>

</footer>

