/*Footer*/



.copy
{
  text-align: center;
  color: #9b9b9b;
}



#box2
{
  display: flex;
  justify-content: center;
  align-items: center;

}


@font-face {
  font-family: 'LouisGeorge';
  src: url('src/assets/ressources/Font/Louis George Cafe.ttf');
}

@font-face {
  font-family: 'LouisGeorgeBold';
  src: url('src/assets/ressources/Font/Louis George Cafe Bold.ttf');
}

h1, h2, h3, h4, h5, h6{
  font-family: 'LouisGeorgeBold';

}

p{
  font-family: 'LouisGeorge';
}

/*Fin footer*/
