<div class="pad">
  <h1>Voici votre activité</h1>
  <div class="mainPhoto">
    <div class="mainGauche">
      <img src={{image1}} class="image" >
    </div>
    <div class="mainDroit">
      <div class="carre">
        <div class="photo1">
          <img src={{image2}} class="image">
        </div>
        <div class="photo2">
          <img src={{image3}} class="image">
        </div>
        <div class="photo3">
          <img src={{image4}} class="image">
        </div>
        <div class="photo4">
          <img src={{image5}} class="image">
        </div>
      </div>
    </div>
  </div>




  <h1>{{nomActivite}}</h1>

  <hr>

  <div class="info-rapide">
  <h2><i class="fa-solid fa-star"></i><i class="fa-solid fa-cog fa-spin"></i> En construction !</h2>
    <h2><i class="fa-solid fa-location-dot"></i> {{ville}} </h2>
    <h2><i class="fa-solid fa-money-bill-1-wave"></i> {{prix}} </h2>
    <h2><i class="fa-solid fa-phone"></i> {{telephone}}</h2>
  </div>

  <hr>


  <div class="info">
    <div class="descrip">
      <h2>Description</h2>
      <p>
        {{descriptionActivite}}
      </p>
      <p>
        Dernière modification le {{jour}}
      </p>
    </div>
    <div class="adresse">
      <h2>Adresse :</h2>

        <p>Rue :  {{adresse1}}, {{adresse2}}</p>

        <p>Ville :   {{ville}}</p>
        <p>Code postal :   {{codePostal}}</p>

        <p>Pays :    {{pays}}</p>
       

    </div>
  </div>







</div>





