<div class="pad">

  <h1>Voici votre activité</h1>

  <h1>{{nomActivite}}</h1>

  <h2><i class="fa-solid fa-star"></i>X,X ------- <i class="fa-solid fa-location-dot"></i> {{ville}} <i class="fa-solid fa-money-bill-1-wave"></i> {{prix}} <i class="fa-solid fa-phone"></i> {{telephone}}</h2>


  <div class="mainPhoto">
    <div class="mainGauche">
      <img src={{image1}} class="image">
    </div>
    <div class="mainDroit">
      <div class="carre">
        <div class="photo1">
          <img src={{image2}} class="image">
        </div>
        <div class="photo2">
          <img src={{image3}} class="image">
        </div>
        <div class="photo3">
          <img src={{image4}} class="image">
        </div>
        <div class="photo4">
          <img src={{image5}} class="image">
        </div>
      </div>
    </div>
  </div>


  <div class="info">
    <div class="descrip">
      <h2>Description</h2>
      <p>
        {{descriptionActivite}}
      </p>
      <p class="droite">
        Dernière modification le {{jour}}
      </p>
    </div>
    <div class="adresse">
      <h2 class="centre">Adresse :</h2>
      <ul>
        <li class="adInfo">Rue :</li>
        <li class="ad">{{adresse1}}, {{adresse2}}</li>
        <li class="adInfo">Ville :</li>
        <li class="ad">{{ville}}</li>
        <li class="adInfo">Code postal :</li>
        <li class="ad">{{codePostal}}</li>
        <li class="adInfo">Pays :</li>
        <li class="ad">{{pays}}</li>
      </ul>

    </div>
  </div>







</div>





