<h1>Le nom de l'activité</h1>

<h2><i class="fa-solid fa-star"></i>X,X ------- <i class="fa-solid fa-location-dot"></i> Le lieux-------- <i class="fa-solid fa-coins"></i> Le prix ------ <i class="fa-solid fa-phone"></i> Tel</h2>





<div class="mainPhoto">
  <div class="mainGauche">
    <img src="./assets/imageDev/piscine.jpeg" class="image">
  </div>
  <div class="mainDroit">
    <div class="carre">
      <div class="photo1">
        <img src="./assets/imageDev/piscine.jpeg" class="image">
      </div>
      <div class="photo2">
        <img src="./assets/imageDev/piscine.jpeg" class="image">
      </div>
      <div class="photo3">
        <img src="./assets/imageDev/piscine.jpeg" class="image">
      </div>
      <div class="photo4">
        <img src="./assets/imageDev/piscine.jpeg" class="image">
      </div>
    </div>
  </div>
</div>


<div class="info">
  <div class="descrip">
    <h2>Description</h2>
    <p>
      Victus universis caro ferina est lactisque abundans copia qua sustentantur, et herbae multiplices et siquae alites capi per aucupium possint, et plerosque mos vidimus frumenti usum et vini penitus ignorantes.

      Tu autem, Fanni, quod mihi tantum tribui dicis quantum ego nec adgnosco nec postulo, facis amice; sed, ut mihi videris, non recte iudicas de Catone; aut enim nemo, quod quidem magis credo, aut si quisquam, ille sapiens fuit. Quo modo, ut alia omittam, mortem filii tulit! memineram Paulum, videram Galum, sed hi in pueris, Cato in perfecto et spectato viro.

      Iis igitur est difficilius satis facere, qui se Latina scripta dicunt contemnere. in quibus hoc primum est in quo admirer, cur in gravissimis rebus non delectet eos sermo patrius, cum idem fabellas Latinas ad verbum e Graecis expressas non inviti legant. quis enim tam inimicus paene nomini Romano est, qui Ennii Medeam aut Antiopam Pacuvii spernat aut reiciat, quod se isdem Euripidis fabulis delectari dicat, Latinas litteras oderit?
    </p>
    <p class="droite">
      Date d'ajout
    </p>
  </div>
  <div class="adresse">
    <h2 class="centre">Adresse :</h2>
    <ul>
      <li class="adInfo">Rue :</li>
      <li class="ad">Rue</li>
      <li class="adInfo">Ville :</li>
      <li class="ad">Ville</li>
      <li class="adInfo">Code postal :</li>
      <li class="ad">Code postal</li>
      <li class="adInfo">Pays :</li>
      <li class="ad">Pays</li>
    </ul>

  </div>
</div>






