<nav>
  <ul>
    <li class="menu"><a href="accueil"><img src="./assets/ressources/logo/logoRightOf.png" class="logo_titre"></a></li>
    <li class="menu"><button class="btn  dropdown-toggle"  routerLink="/accueil">Accueil</button></li>
    <li class="menu">

      <div class="dropdown">
        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
          Domaines <img src="assets/ressources/icon/reseau.png" class="logo_button">
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
          <a class="dropdown-item" href="domaines">Nature</a>
          <a class="dropdown-item" href="domaines">Sensation fore</a>
          <a class="dropdown-item" href="domaines">Sport</a>
          <a class="dropdown-item" href="domaines">Jeux</a>
        </ul>
      </div>

    </li>
    <li class="menu">

      <div class="dropdown">
        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Catégories <img src="assets/ressources/icon/categories.png" class="logo_button">
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <a class="dropdown-item" href="categories">En famille</a>
          <a class="dropdown-item" href="categories">En couple</a>
          <a class="dropdown-item" href="categories">Entre amis</a>
          <a class="dropdown-item" href="categories">Tout seul</a>
        </ul>
      </div>

    </li>
    <li class="menu"><button class="btn  dropdown-toggle" routerLink="/recherches">Recherches <img src="assets/ressources/icon/recherche.png" class="logo_button"></button></li>
    <li class="menu"><button class="btn  drop_login_icon" routerLink="/connexion"><img src="assets/ressources/accueil/kisspng-human-resources-login-management-information-payro-track-5ad7cda388e6a5.9816152015240923235608.png" class="logo_button2"></button></li>
  </ul>
</nav>
