<nav>
  <ul>
    <li><a href="./index.php" class="menulog"><img class="logo_titre" src="ressources/menu/logomenu.png" alt="Le logo" title="RCCK" /></a></li>
    <li><a href="./decouvrir.php" class="menu">Nos temps forts</a></li>
    <li><a href="./locations.php" class="menu">Nos locations</a></li>
    <li><a href="./photos.php" class="menu">Nos photos</a></li>
    <li><a href="./activites.php" class="menu">Nos activités</a></li>
    <li><a href="./a_propos.php" class="menu">À-propos</a></li>
  </ul>
</nav>
