.slide{
  padding-top: 20px;
  background-color: white;
  height: 80vh;
  margin-bottom: 10px;
}

.w-100{
  object-fit: cover;
  height: 80vh;
}

@font-face {
  font-family: 'LouisGeorge';
  src: url('src/assets/ressources/Font/Louis George Cafe.ttf');
}

@font-face {
  font-family: 'LouisGeorgeBold';
  src: url('src/assets/ressources/Font/Louis George Cafe Bold.ttf');
}

h1, h2, h3, h4, h5, h6{
  font-family: 'LouisGeorgeBold';

}

p{
  font-family: 'LouisGeorge';
}

a{
  cursor: pointer;
}
