<div class="pad">

  <br>

  <div class="container">
    <div class="rech">
      <form class="form-inline" action="/recherche/" method="get">
          <div class="input-group">
            <input id="oLocalisation" name="oLocalisation" type="text" class="form-control" aria-label="Localisation" placeholder="Localisation" required="required" [(ngModel)]="lieu">

            <div class="input-group-append">
              <button class="btn" type="submit"><img class="imaRech" src="assets/ressources/icon/recherche.png" alt="" (click)="lancherRecherche()"></button>
            </div>
          </div>
      </form>
    </div>
  </div>


  <div *ngIf="reche; else elseBlock">


    <div *ngIf="ActivitesPresArray.length != 0; else elseBlock2">
      <h1>Votre recherche</h1>
      <p>Profiter des activités de cette ville</p>
      <app-card-domaine *ngFor="let activitesPresVar of ActivitesPresArray" [activitesPres]="activitesPresVar"></app-card-domaine>
    </div>
    <ng-template #elseBlock2>
      <div class="centre">
        <h1>A mince il n'y a pas d'activité de disponible dans cette ville !</h1>
        <p>Essayer une autre ville !!</p>
        <img class="image" src="assets/ressources/recherhce/notFound.png" alt="">
      </div>
    </ng-template>

  </div>
  <ng-template #elseBlock>
    <div class="centre">
      <h1>A vous de jouer, rechercher une activité par localisation !</h1>
      <p>Taper le nom d'une ville est découvrer les activités à proximité</p>
      <img class="image" src="assets/ressources/recherhce/recherche2.png" alt="">
    </div>
  </ng-template>
  <br>






</div>
