<nav xmlns="http://www.w3.org/1999/html">
  <ul>
    <li class="menu"><a href="accueil"><img src="./assets/ressources/logo/logoRightOf.png" class="logo_titre"></a></li>
    <li class="menu"><button routerLink="/accueil">Accueil</button></li>
    <li class="menu"><button routerLink="/domaines">Domaines</button></li>
    <li class="menu"><button routerLink="/categories">Catégories</button></li>
    <li class="menu"><button routerLink="/connexion">Connexion</button></li>
  </ul>
</nav>

<router-outlet></router-outlet>

<app-my-footer></app-my-footer>




