<nav xmlns="http://www.w3.org/1999/html">
  <ul>
    <li class="menu"><a href="accueil"><img src="./assets/ressources/logo/logoRightOf.png" class="logo_titre"></a></li>
    <li class="menu"><button routerLink="/accueil">Accueil</button></li>
    <li class="menu"><button routerLink="/domaines">Domaines</button></li>
    <li class="menu"><button routerLink="/categories">Catégories</button></li>
    <li class="menu"><button routerLink="/recherches">Recherches</button></li>
    <li class="menu"><button routerLink="/connexion">Connexion</button></li>
  </ul>
</nav>


<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button <img src="assets/ressources/logo/favicon.png" class="logo_button">
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>





<router-outlet></router-outlet>

<app-my-footer></app-my-footer>




