<div class="test">
<div id="{{carouse.numero}}" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div>

        <!--Card-->
      <div *ngIf="filtersLoaded2 | async">
        <app-card-for-index [ActiviteArray]="activiteArray"></app-card-for-index>
      </div>
        <!--Fin Card-->
    </div>

  </div>
  <button class="carousel-control-prev" type="button" attr.data-bs-target="#{{carouse.numero}}" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" attr.data-bs-target="#{{carouse.numero}}" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
