.pad{
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
}


/* Champ recherche */

.rech{
  padding: 20px;
  background-color: white;
  border-radius: 50px;
}

.container{
  width: 45em;
}

#oLocalisation{
  border: none;
  font-size: 25px;
  text-align: center;
}

.input-group:focus{
  outline: none ;
}

.btn-primary{
  background-color: white;
  border-color: white;
}

.imaRech{
  height: 30px;
}

@font-face {
  font-family: 'LouisGeorge';
  src: url('src/assets/ressources/Font/Louis George Cafe.ttf');
}

@font-face {
  font-family: 'LouisGeorgeBold';
  src: url('src/assets/ressources/Font/Louis George Cafe Bold.ttf');
}

h1, h2, h3, h4, h5, h6{
  font-family: 'LouisGeorgeBold';

}

p{
  font-family: 'LouisGeorge';
}

/* Fin champ recherche */
