<app-menu-logged></app-menu-logged>

<div class="pad">

  <br>

  <div class="container">
    <div class="rech">
      <form class="form-inline" action="/recherche/" method="get">
        <div class="input-group">


          <input id="oLocalisation" name="oLocalisation" type="text" class="form-control" aria-label="Localisation" placeholder="Localisation" required="required">

          <div class="input-group-append">
            <button class="btn btn-primary" type="submit"><img class="imaRech" src="assets/ressources/icon/recherche.png"></button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <h2>Prix bas</h2>

  <app-card-carousel></app-card-carousel>

  <h2>Suggestions</h2>

  <app-card-carousel></app-card-carousel>

  <h2>Les plus populaires</h2>

  <app-card-carousel></app-card-carousel>

  <h2>Les mieux notés</h2>

  <app-card-carousel></app-card-carousel>

</div>
