.addAct{
  text-align: center;
  color: white;
  background-color: rgb(50,155,156);
  border-radius: 30px;
  padding: 20px;
  margin-top: 40px;
  text-decoration: none;
}

.addAct:hover{
  text-align: center;
  color: white;
  background-color: rgb(186,209,210);
  border-radius: 30px;
  padding: 20px;
}

.centre{
  text-align: center;
}

@font-face {
  font-family: 'LouisGeorge';
  src: url('src/assets/ressources/Font/Louis George Cafe.ttf');
}

@font-face {
  font-family: 'LouisGeorgeBold';
  src: url('src/assets/ressources/Font/Louis George Cafe Bold.ttf');
}

h1, h2, h3, h4, h5, h6{
  font-family: 'LouisGeorgeBold';
}

p{
  font-family: 'LouisGeorge';
}


