.user_card {
  height: 950px;
  width: 500px;
  margin-top: 5em;
  margin-bottom: auto;
  background: rgb(241,162,140);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin-bottom: 20px;
}

.brand_logo_container {
  position: absolute;
  height: 200px;
  width: 200px;
  top: -75px;
  border-radius: 50%;
  background: rgb(229, 244, 246);
  padding: 10px;
  text-align: center;
}

.brand_logo_container2 {
  border: 2px solid white;
  height: 180px;
  border-radius: 50%;
  background-color: rgb(156,229,225);
}

.brand_logo {
  margin-top: 15px;
  height: 125px;
}
.form_container {
  margin-top: 100px;
}
.login_btn {
  width: 100%;
  background: rgb(150,85,66) !important;
  color: white !important;
  border-radius: 30px;
}

.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}
.input-group-text {
  background: rgb(160,85,66) !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
  height: 2.5em;
}
.input_user, .input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.centre{
  text-align: center;
}

.seCo{
  color: rgb(150,85,66);
  font-size: 2em;
}

.links a {
  color: rgb(150,85,66);
}

.links{
  color: white;
}







