<div class="menu">
  <div class="row">
    <li class="menu"><button class="btn  dropdown-toggle"  routerLink="addActivite"><i class="fa-solid fa-mountain-sun"></i>Ajouter une activité</button></li>
    <li class="menu"><button class="btn  dropdown-toggle"  routerLink="statistiques"><i class="fa-solid fa-chart-line"></i>Mes statistiques</button></li>
    <li class="menu"><button class="btn  dropdown-toggle"  routerLink="activites"><i class="fa-solid fa-folder"></i>Mes activités</button></li>
    <li class="menu"><button class="btn  dropdown-toggle"  routerLink="profil"><i class="fa-solid fa-user"></i>Mon profil</button></li>
  </div>
</div>
