<div class="parent2">
  <div class="cardNote">

    <div class="col d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><i class="fa-solid fa-star"></i>Note moyenne</h5>
        </div>
        <div class="note">
          <p>X,X</p>
        </div>
      </div>
    </div>

  </div>
  <div class="categoriePop">

    <div class="col d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><i class="fa-solid fa-chart-simple"></i>Popularité des catégories</h5>
        </div>
        <div class="note">
          Un graphe
        </div>
      </div>
    </div>



  </div>
  <div class="graphe">

    <div class="col d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><i class="fa-solid fa-chart-line"></i>Évolution des consultations de vos activités</h5>
        </div>
        <div class="note">
          <p>Un graphe</p>
        </div>
      </div>
    </div>

  </div>


</div>


<div class="centre">
  <a routerLink="addActivite" class="addAct">Ajouter une nouvelle activité</a>
</div>
