<div class="parent2">
  <div class="flex1">

    <div class="card" style="width: 50%;">
      <div class="card-body">
        <h5 class="card-title"><i class="fa-solid fa-star"></i>Note moyenne</h5>
        <p class="card-text">Note moyenne atribué par les utilisateurs.</p>
        <p class="card-text"><i class="fa-solid fa-cog fa-spin"></i> En construction !</p>
      </div>
    </div>

    <div class="card" style="width: 50%;">
      <div class="card-body">
        <h5 class="card-title"><i class="fa-solid fa-chart-simple"></i>Catégories populaires</h5>
        <p class="card-text">Catégories populaire au près des utilisateurs.</p>
        <p class="card-text"><i class="fa-solid fa-cog fa-spin"></i> En construction !</p>
      </div>
    </div>


  </div>
  </div>
  <div class="graphe">

      <div class="card" style="width: 100%; height: 20em;">
        <div class="card-body">
          <h5 class="card-title"><i class="fa-solid fa-chart-line"></i>Évolution des consultations de vos activités</h5>
          <p class="card-text">Un graphe qui représente l'évolution des consultations de vos activités</p>
          <p class="card-text"><i class="fa-solid fa-cog fa-spin"></i> En construction !</p>
        </div>
      </div>
    </div>








